#home {
  padding: 0 45px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  color: brown;
  padding: 0px 30px;
  padding-top: 30px;
  font-size: 20px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 10px;
}
nav ul li::after {
  content: "";
  height: 4px;
  width: 50%;
  background-color: rgb(123, 46, 46);

  display: block;
}
nav ul li:hover::after {
  width: 100%;
  transition: 0.3s all ease-in-out;
}
nav ul li:hover {
  color: rgb(123, 46, 46);
  transition: 0.3s;
}

/* -----------------------Banner----------------- */

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}
.banner span {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(-10deg);
  animation: Autorun 20s linear infinite;
}
@keyframes Autorun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}
.banner .slider .item .release-date {
  display: none;
}
/* -----  -------------------Latest Movies Section------------------- */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.heading h1 {
  color: brown;
  font-size: 50px;
}
.heading button {
  padding: 10px 20px;
  border: none;
  background-color: brown;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.heading button:hover {
  background-color: rgb(123, 46, 46);
  transition: 0.3s;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}
